<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>web diary</title>
  </head>
  <body>
    {% include 'components/navbar.html' %}
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        {% block content %} {% endblock content %}
      </div>
    </main>
    {% include 'components/pagination.html' %}
  </body>
</html>
